.user-page-button {
    
}

.header-btn {
    background-color: #36b7c3;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    display: flex;
}

.header-btn a {
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
}

.header-btn:hover {
    opacity: 0.8;
    box-shadow: 0 0 0 2px #36b7c3 inset, 0 0 0 4px white inset;
}

.header-btn-login {
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.header-btn-logout {
    width: 100px;
    height: 35px;
    border-radius: 10px;

}

.header-login-icons {
    font-size: 2.2rem;
    padding-top: 2px;
    

}

