.header-section {
    width: 100%;
    background-color: rgb(243, 246, 248);
}

.header {
    margin: 0 auto;
    width: 86%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.logo-img {
    width: 35px;
    height: 35px;
    margin-top: 3px;
}

.logo-text {
    font-weight: bold;
    font-size: 2rem;
    margin-left: 6px;
    color: #4288f8;
    background: linear-gradient(45deg, #36b7c3 27%, #2d8bc4 72%, #8fadc0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
}

.navigation-item a {
    color: #545454;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
}

.navigation-item {
    margin-right: 30px;
    padding-top: 5px;
}

.navigation-item a:hover {
    opacity: 0.7;
}