.grayArea {
    background-color: #000000c1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grayAreaMessage {
    width: 30rem;
    height: 15rem;
    border-radius: 1rem;
    background: rgb(231, 228, 228);
    font-size: 2rem;
    color: #159da9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    border: 2px solid #36b7c3;
    font-weight: 600;
    box-shadow: 0 0 0 2px white inset, 0 0 0 4px #36b7c3;
}

.grayArea-not-visible {
    display: none;
}