.togle-button {
    width: 11rem;
    height: 11rem;
    display: flex;
    margin: 1rem;
    box-shadow:
        0 0.275rem 0.75rem -0.0625rem rgb(11 15 25 / 9%),
        0 0.125rem 0.4rem -0.0625rem rgb(11 15 25 / 6%);
    border-radius: 10px;
}

.togle-button img {
    border-radius: 10px;
    transition: 0.5s;
    border: 1px solid #9d9b9b;
}

.togle-button img:hover {
    cursor: pointer;
    transform: scale(1.2);
    border: 1px solid #9d9b9b;
}

.togle-button-selected img {
    border: 4px solid #36b7c3;
}

.togle-button-selected img:hover {
    border: 4px solid #36b7c3;
}