.small-card-scroller {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;

}

.card-scroller-info {
    width: calc(100% - 11rem);
    height: 100%;
    border-radius: 15px;
    border: solid 1px #ccc9c9;
    box-shadow:
        0 0.275rem 0.75rem -0.0625rem rgb(11 15 25 / 9%),
        0 0.125rem 0.4rem -0.0625rem rgb(11 15 25 / 6%);
    display: flex;
    align-items: center;
    background-color: #ece8e8;

}

.but-prev,
.but-next {
    margin-left: 2rem;
    margin-right: 2rem;
}

.card-info-icon {
    background: linear-gradient(45deg, #36b7c3 27%, #2d8bc4 72.5%, #8fadc0);
    width: 10rem;
    height: 5rem;
    border-radius: 9px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.master_card-size {
    margin-left: 2.9rem;
    margin-top: 1.7rem;
}

.card-info-right {
    height: 100%;
    width: 100%;
    background-color: #daf7fa;
    padding: 2rem;
    border-radius: 0px 15px 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-info-description {
    font-size: 1.6rem;
    color: #545454;
}

.card-info-balance {
    font-size: 1.5rem;
    color: #676666;
}

.transfers-icons {
    color: #666767;
    padding-top: 5px;
    font-size: 2.1rem;
}

.card-right-number {
    display: flex;
}

.card-right-number input {
    border: none;
    border-bottom: solid 2px #7a7979;
    background-color: #daf7fa;
    font-size: 1.5rem;
    padding-top: 8px;
    padding-left: 10px;
    color: #7a7979;
}

.card-right-number input::-webkit-input-placeholder {
    opacity: 0.6;
}

.card-right-number input::-moz-placeholder {
    opacity: 0.6;
}

.card-right-number input:-moz-placeholder {
    opacity: 0.6;
}

.card-right-number input:-ms-input-placeholder {
    opacity: 0.6;
}

.card-right-number input:focus {
    border: none;
    border-bottom: solid 2px #7a7979;
    color: #545454;
    outline: none;
}