.content {
    background-image: url("./img/clouds.jpg");
    background-size: 100% 100%;
    display: flex;
}

.left {
    background-color: rgba(255, 255, 255, 0.8);
    width: 50%;
    display: flex;
    justify-content: end;
}

.right {
    width: 50%;
    display: flex;
    justify-content: start;
}

.container-promo-left {
    width: 86%;
}

.container-promo-right {
    width: 86%;
}

/*  .right */

.promo-one {
    font-size: 4.1vw;
    margin-top: 90px;
    font-weight: bold;
    color: #545454;
    letter-spacing: 0.02em;
}

.promo-two {
    font-size: 2.6vw;
    font-weight: bold;
    margin-top: 30px;
    color: #a9a9a9;
    letter-spacing: 0.05em;
}

.promo-two span {
    color: #36b7c3;
    font-size: 3.2vw;
}

.promo-advert {
    font-size: 1.1em;
    color: #545454;
    margin-top: 10px;
    letter-spacing: 0.02em;
}

.promo-input {
    margin-top: 20px;
    margin-left: 11%;
    display: flex;
}

.promo-input input {
    border: 1px solid #B6B6B6;
    border-radius: 10px;
    background-color: white;
    width: 15em;
    height: 38px;
    padding-left: 20px;
    font-size: 0.9rem;
    color: #ADA8A8;
    opacity: 0.6;
    margin-right: 20px;
}

.promo-input input:focus {
    outline: none;
    border: 2px solid #ADA8A8;
    color: #838181;
    opacity: 0.9;
}

.promo-btn {
    width: 150px;
    background-color: #36b7c3;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
}

.promo-btn a {
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    text-align: center;
}

.promo-btn:hover {
    opacity: 0.8;
    box-shadow: 0 0 0 2px #36b7c3 inset, 0 0 0 4px white inset;
}

.promo-app {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    width: 82%;
    margin-bottom: 20px;
}

.app-btn {
    width: 110px;
    display: flex;
}

.app-btn a {
    width: 100%;
    height: 100%;
}

.app-btn img {
    width: 100%;
}

.app-btn:hover {
    opacity: 0.9;
}

.app_store,
.google_play {
    margin-right: 20px;
}

/*  .left */

.promo-card {
    transform-style: preserve-3d;
    width: 60%;
    margin: 20px 30%;
    z-index: 1;
    position: relative;
}

.promo-phone img {
    width: 80%;
}

.credit-card {
    transform-style: preserve-3d;
    position: absolute;
    top: 15%;
    left: 8%;
    height: 85%;
    width: 65%;
}

.credit-card img {
    transition: all 0.5s ease-out;
    z-index: 2;
    width: 100%;
}


/* ----- PROMO SECTION ONE ----- */

.promo-section-one {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.section-one-content {
    width: 86%;
    height: 100%;
    display: flex;
    flex-direction: row;

}

.section-one-left {
    width: 30%;
    height: 100%;

}

.section-one-right {
    width: 70%;
    height: 100%;
}

.benefits-header {}

.benefits-header-title {
    color: #545454;
    font-size: 2.6rem;
    font-weight: 600;
    padding: 2rem;
}

.benefits-header-discription {
    color: #545454;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 2rem 2rem;

}

.benefits-section {
    width: 100%;
    display: flex;


}

.benefits-section-left {
    width: 50%;
    display: flex;
    flex-direction: column;

}


.benefits-section-card {
    display: flex;
    width: 90%;
    height: 15vh;
    border-radius: 8px;
    border: 1px solid rgb(193, 192, 192);
    box-shadow: 
    0 0.275rem 0.75rem -0.0625rem rgba(11, 22, 25, 0.09), 
    0 0.125rem 0.4rem -0.0625rem rgb(11 15 25 / 3%);
    margin-bottom: 2rem;

}

.section-card-icon {
    

}

.section-card-icon-box {
    background-color: #f4f0f0;
    border-radius: 8px;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefit-card-icons {
    font-size: 2.8rem;
    color: #4288f8;
    background: linear-gradient(45deg, #36b7c3 27%, #2d8bc4 72%, #8fadc0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}



.section-card-text {
    display: flex;
    flex-direction: column;
    

}

.card-text-title {

}

.card-text-description {

}

.benefits-section-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}





/* ----- PROMO SECTION TWO ----- */

.promo-section-two {
    width: 100%;
    height: 100vh;
    background-color: rgb(156, 242, 188);
}


/* ----- PROMO SECTION THREE ----- */

.promo-section-three {
    width: 100%;
    height: 100vh;
    background-color: rgb(241, 237, 132);
}