.card-scroller {
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 
    0 0.275rem 0.75rem -0.0625rem rgba(11, 22, 25, 0.09), 
    0 0.125rem 0.4rem -0.0625rem rgb(11 15 25 / 3%);
    border-radius: 15px;
    margin-top: 1rem;
    background-color: rgba(238, 245, 245, 0.938);
}

.prev, .next {
    width: 1.5rem;
    height: 3rem;
    border-radius: 5px;
    border: solid 1px rgb(152, 150, 150);
    color: rgb(109, 108, 108);
}

.b-prev {
    margin-left: 2rem;
    margin-right: 1rem;
}

.b-next {
    margin-left: 1rem;
    margin-right: 2rem;
}

.prev:hover, .next:hover {
    opacity: 0.9;
    cursor: pointer;
}

.card-info {
    margin-right: 2rem;
    width: 47%;
    align-items: center;
    
}

.card-balance {
    color: #6e6d6d;
    font-size: 3.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 1.3rem;
    text-shadow: 2px 2px 2px rgb(206, 211, 212);
}

.credit-item-name {
    display: flex;
    justify-content: center;
    color: #7d7b7b;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgb(206, 211, 212);
}