.login-section {
    background-color: #93e8ef;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-navigation {
    background-color: white;
    border-radius: 10px;
    box-shadow:
        0 2px 2px rgba(0, 0, 0, 0.2),
        0 1px 5px rgba(0, 0, 0, 0.2),
        0 0 0 12px rgba(255, 255, 255, 0.4);
    padding: 20px;
}

.login {
    display: flex;
    margin-top: 8px;
}

.password {
    display: flex;
}

.login-navigation label {
    width: 5.5rem;
    display: block;
    padding-top: 4px;
    font-weight: 700;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    font-size: 1.2rem;
    color: #545454;
    cursor: text;
}

.login-navigation input[type=text],
.login-navigation input[type=password] {
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
    padding: 5px;
    margin-bottom: 7px;
    border: 3px solid #ebe6e2;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    color: #545454;
}

.login-navigation input[type=text]:hover,
.login-navigation input[type=password]:hover {
    border-color: #CCC;
}

.login-navigation label:hover~input {
    border-color: #CCC;
}

.login-navigation input[type=text]:focus,
.login-navigation input[type=password]:focus {
    border-color: #BBB;
    outline: none;
}

.login-navigation input[type=submit] {
    width: 100px;
    height: 35px;
    cursor: pointer;
    background-color: #36b7c3;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
    font-size: 1.1em;
    padding-top: 2px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border: none;
}

.login-navigation input[type=submit]:hover {
    opacity: 0.8;
    box-shadow: 0 0 0 2px #36b7c3 inset, 0 0 0 4px white inset;
}

.login-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.registration-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.registration-btn a {
    color: #545454;
    font-size: 0.9rem;
    font-weight: 600;
}

.registration-btn a:hover {
    opacity: 0.8;
}