.user-page {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.user-page-left {
    width: 40%;
    height: calc(inherit);
    display: flex;
    border-right: 1px solid #cdc8c8;
}

.user-page-right {
    width: 100%;
    height: 100%;
}

.user-page-navigation {
    height: 100%;
    width: 100%;
}

.user-navigation {
    margin-top: 75px;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

.user-navigation-item {
    height: 60px;
    padding-left: 19%;
}

.user-navigation-item a {
    color: #33354d;
    font-size: 1.6em;
    font-weight: 600;
    align-items: center;
    display: flex;
    padding-left: 30px;
    height: 100%;
    border-radius: 10px;
    margin-right: 10px;
    transition: all 0.5s;
}

.user-navigation-item a:hover {
    background-color: rgb(198, 239, 242);
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(112, 179, 188, 0.9);
}

.user-navigation-item a:focus {
    background-color: #4fc4cf;
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(151, 175, 179, 0.9);
    color: white;
}

.user-content {
    height: 100%;
    margin-right: 9.3%;
    margin-left: 2rem;
}

.nav-icon {
    scale: 1.2;
    padding-right: 10px;
    color: #9397ad;
}

.user-navigation-item a:focus .nav-icon {
    color: #e4e6f5;
}