.bank-card {
    width: 21rem;
    height: 13rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: white;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    background: linear-gradient(45deg, #36b7c3 27%, #2d8bc4 72.5%, #8fadc0);
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.bank-card__title {
   margin-top: 1.5rem;
   width: 100%;
   display: flex;
   align-items: center;
   margin-left: 1.7rem;
}

.bank-card__type {
    font-size: 0.9rem;
    margin-right: 2.8rem;
    margin-top: 7px;
}

.bank-card__title-logo {
    display: flex;
    font-weight: bold;
    font-size: 1.5rem;
}

.logo-card {
    width: 26px;
    margin-right: 6px;
}

.bank-card__number {
    margin-top: 2.6rem;
    font-size: 1.8rem;
    align-self: center;
    text-shadow: 
    -1px -1px 1px silver,
    1px -1px 1px silver; 
    /* text-shadow: 1px 1px white,
               2px 2px #777; */
}

.bank-card__footer {
    width: 100%;
    display: flex;
}

.bank-card__date {
    margin-left: 9rem;
    font-size: 1.3rem;
    margin-right: 1.3rem;
    margin-top: 0.5rem;
    text-shadow:
    -1px -1px 1px silver,
    1px -1px 1px silver;
}

.bank-card__master-card {
    margin-top: 0.8rem;

}

.master_card {
    width: 60px;
}
